:root {
    --borderRadius: 15px;
}
* {
    margin: 0px;
    padding: 0px;
}
html,body {
    height: 100%;
}

body {
    background-color:blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 50px;
    font-family: monospace;
}

button {
    margin: 5px;
    padding: 10px;
    padding-inline: 20px;
    outline: none;
    border: 5px solid black;
    cursor: pointer;

    text-align: center;
    font-family: monospace;
    font-size: 18px;

    background-color: black;
    color: white;

    border-radius: var(--borderRadius);    
}
button:hover {
    background-color: white;
    color: black;
}
input {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    border-radius: var(--borderRadius);
    outline: none;
}

.container {
    background-color: white;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    border-radius: var(--borderRadius);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container p {
    margin-inline: 10px;
    padding: 10px;
    font-size: 40px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box div {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: var(--borderRadius);

    padding: 10px;
    margin: 2px;

}
.hide {
    display: none;
    visibility: hidden;
}

#buttonHolder {
    background-color: white;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    border-radius: var(--borderRadius);

    display: flex;
    position: absolute;
    top:3vmin;
}